

    #borderimg1 { 
    border-radius: 10px 20px 30px 40px;
    border: 15px solid transparent;
    padding: 15px;
    border-image-source: url(/hinhanh/boder.png);
    border-image-repeat: stretch;  
    border-image-slice: 30;
  }
  
  #borderimg2 { 
    border: 15px solid transparent;
    padding: 15px;
    border-image-source: url(/hinhanh/boder.png);
    border-image-repeat: repeat;
    border-image-slice: 30;
  }
  
  #borderimg3 { 
    border: 15px solid transparent;
    padding: 15px;
    border-image-source: url(/hinhanh/boder.png);
    border-image-repeat: round;
    border-image-slice: 30;
  }
  
  #borderimg4 { 
    border: 15px solid transparent;
    padding: 15px;
    border-image-source: url(/hinhanh/border.jpg);
    border-image-repeat: space;
    border-image-slice: 30;
  }
  #img1{
    margin-left: 43%;
    margin-right: 54%;
    height: 250px;
    width:  250px;
    background: green;
    border-radius: 10px 20px 30px 40px;
  }
  #img2{
    margin-left: 0.5%;
    margin-right: 54%;
    height: 815px;
    width:  550px;
    background: green;
    border-radius: 10px 30px 100px 10px;

    }
    #img3{
    margin-left: 0.5%;
    margin-right: 54%;
    height: 65px;
    width:  95px;
    background: green;
    border-radius: 1500px 2000px 00px 2000px;
    position:absolute;
    left:1060px;
    right:300px;
    top:350px;
    }
    .c-r {
    background-color: tomato;
    color: white;
    position:absolute;
    left:167px;
    right:300px;
    top:105px;
    width: 400px;
    border: 2px solid black;
    margin: 5px;    
    padding: 50px;
    border-radius: 10px 90px 10px 40px;
    }
    .c-m {
    background-color: rgb(10, 232, 184);
    color: white;
    border: 2px solid black;
    position:absolute;
    left:167px;
    right:300px;
    top:400px;
    width: 400px;
    border: 2px solid black;
    margin: 5px;
    padding: 50px;
    border-radius: 40px 10px 90px 10px;
    }
    .c-l{
    background-color: rgb(10, 232, 184);
    color: white;
    position:absolute;
    left:670px;
    right:300px;
    top:100px;
    width: 400px;
    border: 2px solid black;
    margin: 10px;
    padding: 50px;
    border-radius: 90px 10px 40px 10px;
    }
    .c-n{
    background-color: tomato;
    color: white;
    position:absolute;
    left:670px;
    right:300px;
    top:400px;
    width: 400px;
    border: 2px solid black;
    margin: 10px;
    padding: 50px;
    border-radius: 10px 40px 10px 90px;
    }
    